<table class="table table-borderless">
    <tbody>
    <tr>
        <th scope="row">Ville organisatrice:</th>
        <td>{{sorties.getLieu().getVille().getNom()}}</td>
    </tr>
    <tr>
        <th scope="row">Lieu:</th>
        <td>{{sorties.getLieu().getNom()}}</td>
    </tr>
    <tr>
        <th scope="row">Rue:</th>
        <td>{{sorties.getLieu().getRue()}}</td>
    </tr>
    <tr>
        <th scope="row">Code postal:</th>
        <td>{{sorties.getLieu().getVille().getCodePostal()}}</td>
    </tr>
    <tr>
        <th scope="row">Latitude:</th>
        <td>{{sorties.getLieu().getLatitude()}} </td>
    </tr>
    <tr>
        <th scope="row">Longitude:</th>
        <td>{{sorties.getLieu().getLongitude()}} </td>
    </tr>
    </tbody>
</table>