<div class="container">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">inscrits</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
        <tr>
            <th scope="row">
                {{ sortie.nom }}
            </th>
            <td>
                {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}
            </td>
            <td>
                {{ sortie.dateLimiteInscription | date('d/m/Y')}}
            </td>
            <td>
               {{ sortie.relation|length}} /{{ sortie.nbInscriptioonsMax }}
            </td>
            <td>
                {{ sortie.etat.libelle }}
            </td>
            <td>

                {{ sortie.organisateur.id == null ? "X" :
                sortie.organisateur.id ~ " "}}

            </td>
            <td>
                <a href="{{ path("participant_autreProfil", {"id" : sortie.organisateur.id}) }}">
                    {{ sortie.organisateur.nom }}
                </a>
            </td>
            <td>

                <a href="{{ path("sortie_detail", {"id" : sortie.id}) }}">Afficher</a>
                {#<a href="{{ path("modifier_sortie") }}">Modifier</a>
                <a href="{{ path("annuler_sortie") }}">Annuler</a>#}

                {#Formulaire invisible - Se desister -#}
                {#<a href="{{ path("publier_sortie", {"id" : participant.id }) }}">Publier</a>
                <a href="{{ path("inscrire_sortie", {"id" : participant.id }) }}">S'inscrire</a>
                <a href="{{ path("desister_sortie", {"id" : participant.id }) }}">Se desister</a>#}

            </td>


        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>