<!--==========================
Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="{{ path('sortie_liste') }}#about" class=""> <img src="{{ asset('img/logo.png') }}"></a>
            <!-- Uncomment below if you prefer to use a text logo -->
            <!--<h1><a href="#hero">Regna</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {#<li><a href="{{ path('sortie_liste') }}#about">Villes</a></li>
                    <li><a href="{{ path('sortie_liste')}}#about">Sites</a></li>#}
                    <li><a href="{{ path('sortie_liste') }}#about">Accueil</a></li>
                    <li><a href="{{ path('participant_monProfil') }}#about">Mon Profil</a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="{{ path('participant_registrer') }}#about">Ajouter un utilisateur</a></li>
                    {% endif %}
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% endif %}
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<!--==========================
  Hero Section
============================-->
<section id="hero">
    <div class="hero-container">
        <h1>Sortir.com</h1>

        <a href="#about" class="btn-get-started">Get Started</a>
    </div>
</section><!-- #hero -->
